* {
    box-sizing: border-box;
    font-family: "Arial";
    -webkit-font-smoothing: antialiased !important;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background: rgba(169,3,41,1);
    background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(169,3,41,1) 17%, rgba(169,3,41,1) 30%, rgba(143,2,34,1) 60%, rgba(109,0,25,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(17%, rgba(169,3,41,1)), color-stop(30%, rgba(169,3,41,1)), color-stop(60%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
    background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(169,3,41,1) 17%, rgba(169,3,41,1) 30%, rgba(143,2,34,1) 60%, rgba(109,0,25,1) 100%);
    background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(169,3,41,1) 17%, rgba(169,3,41,1) 30%, rgba(143,2,34,1) 60%, rgba(109,0,25,1) 100%);
    background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(169,3,41,1) 17%, rgba(169,3,41,1) 30%, rgba(143,2,34,1) 60%, rgba(109,0,25,1) 100%);}
.contenedor {
    border: solid black 1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.body-left {
    height: 85vh;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-canciones {
    height: 65vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left: 1px white solid;
    overflow-y: scroll;

    
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.body-right {
    height: 85vh;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reproductor {
    width: 80%;
    height: 70%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.botones {
    border-top:solid white 1px;
    width: 80%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cancion {
    border: solid black 1px;
    width: 80%;
    height: 10%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.5s ease;
    overflow-y:  hidden;
    padding: 5px;
}

.footer {
    border-top: solid white 1px;
    color: white;
    height: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon-rep {
    margin-right: 5%;
    font-size: 2em;
    transition: color 0.5s ease;
    color: black;
    cursor: pointer;
}

.icon-menos,
.icon-mas {
    margin-right: 2%;
    font-size: 2em;
    transition: color 0.5s ease;
    color: black;
    cursor: pointer;
}

.icon-header-user:hover,
.icon-rep:hover,
.icon-menos:hover,
.icon-mas:hover,
.cancion:hover {
    color: white;
    transform: scale(1.1);
    
}

.icon-rep-volume, #volmin, #volnone {
    margin-left: 8%;
    margin-right: 2%;
    font-size: 2em;
    color: white;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5em;
}

.icon-header-user {
    position: absolute;
    transition: color 0.5s ease;
    cursor: pointer;
    left: 92%;
    font-size: 1.5em;
}

.header-titulo {
    font-size: 1.4em;
    margin: 15px;
    color: white;
    text-transform: uppercase;
}

.limon {
    font-size: 2em;
    margin-left: 2%;
    color: white;
}

.tituloLista {
    color:white;
    font-size: 2em;
    margin-top: 20px
     
}

.isPlaying {
    display: initial;
    color: white;
    margin-left: 10px;
    font-size: 1em;
}

.isNotPlaying {
    display: none;
}
#reproducir{
    margin-top: 20px;
    max-width: 70%;
    max-height: 580px;
}
@media screen and (max-width: 550px) {
    body{
        overflow-y: scroll;
    }
    .body-left {
        height: 85vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .body-right {
        width: 100%;
    }
    .botones {
        width: 50%;
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer {
        border: solid black 1px;
        color:white;
        height: 12vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
.slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
    margin-left: 40px;
  }
  .slider-wrapper input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
  }
  
