* {
    box-sizing: border-box;
    font-family: "Arial";
    -webkit-font-smoothing: antialiased !important;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+22,dfe5d7+42,b3bead+78 */
    background: #fcfff4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcfff4 22%, #dfe5d7 42%, #b3bead 78%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfff4 22%, #dfe5d7 42%, #b3bead 78%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfff4 22%, #dfe5d7 42%, #b3bead 78%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
    /* IE6-9 */
}

.contenedor {
    border: solid black 1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.body-left {
    height: 85vh;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-canciones {
    height: 65vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left: 1px black solid;
    overflow-y: scroll;

    
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.body-right {
    height: 85vh;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reproductor {
    width: 80%;
    height: 70%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.botones {
    width: 80%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cancion {
    border: solid black 1px;
    width: 80%;
    height: 10%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.5s ease;
    overflow-y:  hidden;
    padding: 5px;
}

.footer {
    border: solid black 1px;
    height: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon-rep {
    margin-right: 5%;
    font-size: 2em;
    transition: color 0.5s ease;
    color: black;
    cursor: pointer;
}

.icon-menos,
.icon-mas {
    margin-right: 2%;
    font-size: 2em;
    transition: color 0.5s ease;
    color: black;
    cursor: pointer;
}

.icon-header-user:hover,
.icon-rep:hover,
.icon-menos:hover,
.icon-mas:hover,
.cancion:hover {
    color: red;
    transform: scale(1.1);
    
}

.icon-rep-volume {
    margin-left: 8%;
    margin-right: 2%;
    font-size: 2em;
    color: rgb(30, 41, 104);
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5em;
}

.icon-header-user {
    position: absolute;
    transition: color 0.5s ease;
    cursor: pointer;
    left: 92%;
    font-size: 1.5em;
}

.header-titulo {
    font-size: 1.4em;
    margin: 15px;
    text-transform: uppercase;
}

.limon {
    font-size: 2em;
    margin-left: 2%;
    color: red;
}

.tituloLista {
    font-size: 2em;
    margin-top: 5px;
}

.isPlaying {
    display: initial;
    color: red;
    margin-left: 10px;
    font-size: 1em;
}

.isNotPlaying {
    display: none;
}
#reproducir{
    margin-top: 20px;
    max-width: 70%;
    max-height: 580px;
}
@media screen and (max-width: 550px) {
    body{
        overflow-y: scroll;
    }
    .body-left {
        height: 85vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .body-right {
        width: 100%;
    }
    .botones {
        width: 60%;
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer {
        border: solid black 1px;
        height: 12vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}